<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid ">
      <a class="navbar-brand text-primary" routerLink="/">Graduation work Portal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
        </ul>

        <form class="d-flex me-5" role="search" #f="ngForm" (ngSubmit)="onSubmit()">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchQuery" name="queryString">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <select class="form-select d-inline-block w-auto me-2">
          <option value="en">UZ</option>
          <option value="uz">EN</option>
        </select>
 
        <button class="btn btn-outline-primary me-2" [routerLink]="['/login']" *ngIf="!isAuthenticated">Login</button>
        <button class="btn btn-outline-primary me-2" *ngIf="isAuthenticated" (click)="logout()">Log Out</button>
        <button class="btn btn-outline-success" [routerLink]="['/register']" *ngIf="!isAuthenticated">Register</button>
        <div class="user-account-icon" (click)="getUserProfile()" *ngIf="isAuthenticated">
          <img src="{{userImage || 'assets/images/default-profile-img.jpg'}}" alt="">
        </div>
      </div> 
    </div>

    <div class="searched-reviews-container" *ngIf="searchedReviews && searchQuery.length">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Work Title</th>
            <th scope="col">Rate</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let review of searchedReviews; let i=index;" (click)="directToReview(review.id)">
            <th scope="row">{{i+1}}</th>
            <td>{{review.title}}</td>
            <td>{{review.similarity}}%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </nav>
