<swiper [slidesPerView]="1" [spaceBetween]="20" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()"
    [navigation]="true" [pagination]="{ clickable: true }" [scrollbar]="{ draggable: true }">
    <ng-template swiperSlide>
        <img src="assets/images/bread.jpg" alt="">
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/mountain.jpg" alt="">
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/valley.jpg" alt="">
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/wheat land.jpg" alt="">
    </ng-template>
    
</swiper>