<app-loader *ngIf="isLoading"></app-loader>
<div class="container d-flex align-items-center flex-column">
    <h1 class="text-primary my-3">Login Graduation Work Platform</h1>
    <form class="col-4 login-form p-5" (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="mb-3">
            <label for="userEmail" class="form-label fw-bold">Email address</label>
            <input type="email" class="form-control" 
            id="userEmail" 
            placeholder="Enter your email"
            [(ngModel)]="userEmail"
            name="user-email"
            email
            required
            #userEmailModel="ngModel"
            >
            <p class="error-message" *ngIf="userEmailModel.invalid && userEmailModel.touched">Please enter valid email!</p>
        </div>
        <div class="mb-4">
            <label for="userPassword" class="form-label fw-bold">Password</label>
            <input type="password" class="form-control" 
            id="userPassword" 
            placeholder="Enter your password"
            [(ngModel)]="userPassword"
            name="user-password"
            required
            #userPasswordModel="ngModel"
            >
            <p class="error-message" *ngIf="userPasswordModel.invalid && userPasswordModel.touched" >Please enter valid password!</p>

            <p class="text-right mt-2 forgot-password"><a>Forgot Password?</a></p>
        </div>
        
        <div class="mb-3">
            <p class="form-line"><span>Or Login With</span></p>
            <div class="login-options mt-2">
                <div class="login-option" (click)="loginWithGoogle()">
                    <img src="assets/images/google-logo.svg" alt="">
                </div>
                <div class="login-option" (click)="loginWithGitHub()">
                    <img src="assets/images/github.svg" alt="">
                </div>
            </div>
        </div>
        <button class="btn btn-primary login-btn" [disabled]='f.invalid'> 
            Login
        </button>

        <a class="register-link" [routerLink]="['/register']">Haven't registered yet?</a>
    </form>
</div>