<app-loader *ngIf="isLoading"></app-loader>
<div class="container-fluid hero-banner">
    <div class="container  hero-section">
        <button class="btn btn-primary" (click)="onCreateReview()">Create Review</button>
    </div>
</div>

<div class="container" *ngIf="!isLoading">

    <section>
        <p *ngIf="lastReviews.length===0">There is no reviews that have been posted recently!</p>
        <h2 class="section-title">Recently added reviews</h2>
        <app-review-card *ngFor="let review of lastReviews;" [bindedReview]="review"></app-review-card>
    </section>
    <hr>
    <section>
        <h2 class="section-title">Reviews with the highest grade products</h2>
        <app-review-card *ngFor="let review of higherGradeReviews;" [bindedReview]="review"></app-review-card>
    </section>

</div>
