<div class="container-fluid hero-banner">
    <div class="container  hero-section">
        <button class="btn btn-primary">Create Review</button>
    </div>
</div>

<div class="container">

    <section>
        <h2 class="section-title">Recently added reviews</h2>
        <div class="review-card ">
            <div class="card-top">
                <div class="author-image">
                    <img src="assets/images/profile-image.jpg" alt="">
                </div>
                <p class="author-name">
                    Murodov Javohir
                </p>
                <p class="review-created-time">
                    Feb 9
                </p>
            </div>
            <div class="card-body">
                <div class="card-body__left">
                    <h3 class="card-body__title">Angular Interview Questions</h3>
                    <p class="card-body__text">
                        First of all best of luck with your interview. hope this article will be helpful. What is the
                        design
                        pattern of the angular framework? The angular framework used Single Page Application design
                        pattern.
                        What...
                    </p>
                </div>
                <div class="card-body__right">
                    <img src="assets/images/review-pic.webp" alt="">
                </div>
            </div>
            <div class="card-bottom tags">
                <div class="tag">Angular</div>
                <div class="tag">Javascript</div>
                <div class="tag">Rxjs</div>
            </div>

        </div>
        <div class="review-card ">
            <div class="card-top">
                <div class="author-image">
                    <img src="assets/images/profile-image.jpg" alt="">
                </div>
                <p class="author-name">
                    Murodov Javohir
                </p>
                <p class="review-created-time">
                    Feb 9
                </p>
            </div>
            <div class="card-body">
                <div class="card-body__left">
                    <h3 class="card-body__title">Angular Interview Questions</h3>
                    <p class="card-body__text">
                        First of all best of luck with your interview. hope this article will be helpful. What is the
                        design
                        pattern of the angular framework? The angular framework used Single Page Application design
                        pattern.
                        What...
                    </p>
                </div>
                <div class="card-body__right">
                    <img src="assets/images/review-pic.webp" alt="">
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section>
        <h2 class="section-title">Reviews with the highest grades</h2>
        <div class="review-card ">
            <div class="card-top">
                <div class="author-image">
                    <img src="assets/images/profile-image.jpg" alt="">
                </div>
                <p class="author-name">
                    Murodov Javohir
                </p>
                <p class="review-created-time">
                    Feb 9
                </p>
            </div>
            <div class="card-body">
                <div class="card-body__left">
                    <h3 class="card-body__title">Angular Interview Questions</h3>
                    <p class="card-body__text">
                        First of all best of luck with your interview. hope this article will be helpful. What is the
                        design
                        pattern of the angular framework? The angular framework used Single Page Application design
                        pattern.
                        What...
                    </p>
                </div>
                <div class="card-body__right">
                    <img src="assets/images/review-pic.webp" alt="">
                </div>
            </div>
        </div>
        <div class="review-card">
            <div class="card-top">
                <div class="author-image">
                    <img src="assets/images/profile-image.jpg" alt="">
                </div>
                <p class="author-name">
                    Murodov Javohir
                </p>
                <p class="review-created-time">
                    Feb 9
                </p>
            </div>
            <div class="card-body">
                <div class="card-body__left">
                    <h3 class="card-body__title">Angular Interview Questions</h3>
                    <p class="card-body__text">
                        First of all best of luck with your interview. hope this article will be helpful. What is the
                        design
                        pattern of the angular framework? The angular framework used Single Page Application design
                        pattern.
                        What...
                    </p>
                </div>
                <div class="card-body__right">
                    <img src="assets/images/review-pic.webp" alt="">
                </div>
            </div>
        </div>
    </section>

</div>