 <app-loader *ngIf="isLoading"></app-loader>
 
 <div class="container-fluid account-page" *ngIf="!isLoading">
    <div class="container">
        <div class="row pt-5">
            <div class="col-3 toolbar">
                <h5 class="mb-3">Filters</h5>
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Latest Reviews
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      
                    </label> 
                  </div>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-12 sort-box mb-3">
                        <h5>Sort By:</h5>
                        <select name="" id="" class="form-select sort-select" >
                            <option value="">hello</option>
                            <option value="">hello</option>
                            <option value="">hello</option>
                        </select>
                        <button class="btn btn-primary review-create-btn" [routerLink]="['/create-review']">+ Write a Review</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-striped" >
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Average Rating</th>
                                    <th scope="col">Likes</th>
                                    <th scope="col">Group</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody *ngIf="userReviews.length>0">
                                <tr *ngFor="let review of userReviews; let i=index">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{review.title}}</td>
                                    <td>{{review.product.name}}</td>
                                    <td>{{review.avgRating}}</td>
                                    <td>{{review._count.likes}}</td>
                                    <td>{{review.group}}</td>
                                    <td><button class="btn btn-outline-danger" (click)="deleteReview(i,review.id)">Delete</button></td>
                                    <td><button class="btn btn-outline-success" (click)="editReview(review.id)">Edit</button></td>
                                    <td><button class="btn btn-outline-primary" (click)=showReview(review.id)>View</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="text-center m-4" *ngIf="userReviews.length==0">You have no created reviews!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>